<form action="/usuarioCadastrado" method="POST">
    <p>Nome: </p>
    <input type="text" name="nome">
    <p>Idade: </p>
    <input type="text" name="idade">
    <button type="submit">Cadastrar usuario</button>
</form>